// Main Font Stack
html {
  --font-stack: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
// Colors
// Dark Theme
html {
  --base: #191724;
  --surface: #1f1d2e;
  --overlay: #26233a;
  --text: #e0def4;
  --subtle: #908caa;
  --rose: #ebbcba;
  --pine: #31748f;
  --iris: #c4a7e7;
  --error: #eb6f92;
  --warning: #f6c177;
  --info: #9ccfd8;
}
// Light Theme
.light {
  --base: #faf4ed;
  --surface: #fffaf3;
  --overlay: #f2e9e1;
  --text: #575279;
  --subtle: #797593;
  --rose: #d7827e;
  --pine: #286983;
  --iris: #907aa9;
  --error: #b4637a;
  --warning: #ea9d34;
  --info: #56949f;
}

body {
  font-family: var(--font-stack);
  font-size: 1rem;
  color: var(--text);
  background-color: var(--base);
}
#header {
  margin: auto;
  position: sticky;
  height: 3.5rem;
  top: 0;
  padding: 0.2rem 1.5rem;
  color: var(--base);
  text-align: center;
  background-color: var(--rose);
  display: flex;
  gap: 0.8rem;
  justify-content: flex-end;
  svg {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition:
      transform 125ms ease-in-out,
      rotate 125ms ease-in-out;
    &:hover {
      transform: scale(1.08);
    }
  }
  .moon > path {
    transform: rotate(-45deg) translateY(5px) translateX(-10px);
  }
}
.clicked {
  rotate: 135deg;
}
#add_hoverbox {
  background-color: var(--overlay);
  color: var(--text);
  position: fixed;
  top: 3.5rem;
  right: 1.8rem;
  width: 10rem;
  border-radius: 0 0 10px 10px;
  text-align: center;
  margin-top: -7rem;
  transition: transform 125ms ease-in-out;
  h4 {
    cursor: pointer;
    padding: 0.5rem;
    margin: 0.8rem;
  }
  &.hoverbox_visible {
    transform: translateY(7rem);
  }
}
dialog {
  border-radius: 1rem;
  color: var(--text);
  border: 2px solid var(--rose);
  background-color: var(--overlay);
  min-width: 30rem;
  form {
    display: flex;
    font-size: 1.1rem;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
    > div {
      display: flex;
      align-items: center;
      > * {
        min-width: 50%;
      }
      input,
      select {
        background-color: var(--surface);
        border: 2px solid var(--base);
        color: var(--text);
      }
      // Priority options
      > div {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
      }
      input[type="radio"] {
        appearance: none;
        -webkit-appearance: none;
        display: none;
        & + label {
          cursor: pointer;
          background-color: var(--surface);
          padding: 0.4rem 0.5rem;
          border-radius: 8px;
        }
        &:checked + label {
          color: var(--base);
          &[for="low"],
          &[for="prj_low"] {
            background-color: var(--info);
          }
          &[for="medium"],
          &[for="prj_medium"] {
            background-color: var(--warning);
          }
          &[for="high"],
          &[for="prj_high"] {
            background-color: var(--error);
          }
        }
      }
    }
    h2 {
      align-self: center;
    }
    button {
      align-self: center;
      width: 50%;
      background-color: var(--rose);
      color: var(--base);
      border-radius: 10px;
      padding: 0.5rem;
      transition: transform 125ms ease-in-out;
      border: 0;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
#content {
  display: flex;
}
#nav_bar {
  background-color: var(--surface);
  position: sticky;
  top: 3.5rem;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 3.5rem);
  min-width: 22ch;
  max-width: 30ch;
  padding: 1.5rem;
  h2 {
    color: var(--subtle);
    margin-top: 3rem;
  }
  h3 {
    padding-left: 1.5rem;
  }
  * {
    margin: 0;
    padding: 0.6rem;
  }
}
#right_side {
  padding: 2rem;
}
